.not-support body::before{
  content: 'Not support';
  top: 50%;
  right: 40%;
  display: block;
  font-size: 50px;
  position: absolute;
}

.paragraph {
  font-size: 30px;
  line-height: 1.83;
  width: max-content;
  padding: .25em 10px;
  padding-right: 30px;
}

.paragraph:hover{
  --my-color:orange;
}

@supports (background: paint(shape-bg)) {
  .api-css-paint {
    background: paint(shape-bg);
    transition: --my-color .5s ease;
  }
}


